<div fxLayoutAlign="start start" fxLayoutGap="5em" style="margin-top: 50px; ">
   <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2em">
      <ngx-progress-bar [value]="value"></ngx-progress-bar>

      <ngx-progress-bar [value]="value" [borderRadiusX]="50" [borderRadiusY]="50"></ngx-progress-bar>

      <ngx-progress-bar style="width:300px; height:30px;" [value]="value" [borderRadiusX]="50" [borderRadiusY]="50">
      </ngx-progress-bar>

      <ngx-progress-bar style="width:300px; height:30px;" [fillColor]="fillColor" [value]="value" [borderRadiusX]="50"
         [borderRadiusY]="50"></ngx-progress-bar>

      <ngx-progress-bar style="width:300px; height:30px;" [fillColor]="fillColor" [value]="value" [showText]="true"
         [borderRadiusX]="50" [borderRadiusY]="50"></ngx-progress-bar>

      <ngx-progress-bar style="width:300px; height:30px;" [fillColor]="fillColor" [value]="value" [showText]="true"
         [textFont]="'12px Arial, sans-serif'">
      </ngx-progress-bar>

      <ngx-progress-bar style="width:300px; height:30px;" [fillColor]="fillColor"
         [textPosition]="TextPosition.startend" [value]="value" [showText]="true"
         [textFont]="'14px Arial, sans-serif'">
      </ngx-progress-bar>

   </div>
   <button (click)="reset()">Reset</button>
</div>